* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
}


.container {
    background: #eee;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.message-wrapper {
    background: #ccc;
    max-width: 500px;
    padding: 1em;
    margin: 1em;
    border-radius: 2em;
}

.message-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message-header p {
    display: inline-block;
    font-size: 0.8em;
}

.author {
    color: #e2e;
}

.date-created {

}