{% extends 'loginned.html' %}
{% block statics %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/messages.css' %}">
{% endblock %}
{% block title %}Messages{% endblock %}
{% block main %}
<div class="container">
    <div class="message-container">
         {% for message in messages %}
        <div class="message-wrapper {% if message.author == user %}mine{% else %}other{% endif %}">
            <div class="message-header">
                <p class="author {% if message.author == user %}mine-author{% else %}other-author{% endif %}">{{ message.author }}</p>
                <p class="date-created">{{ message.date_created|date:"Y-m-d H:i" }}</p>
                <a href="{{ message.id }}/">edit</a>
            </div>
            <p class="message-text">{{ message.text }}</p>
        </div>
        {% endfor %}
    </div>
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}


    {% load crispy_forms_tags %}
    {% crispy form %}

</div>
{% endblock %}